{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro -Home{% endblock title %}
{% block description %}Página do curso Python Pro{% endblock description%}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">


			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<h4 class= "mt -4">Matriculas abertas! Custo R$ 1.000 </h4>
				<script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
				data-preference-id="250199703-1d0a085d-a528-466b-85cf-73678f1cbe2a" data-source="button">
				</script>



<!--				<h4 class= "mt -4"> Entre na Fila de espera</h4>
				<form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=d2361c4177318b91ad1ccf3dc&amp;id=46d46088b6&amp;f_id=0078c2e1f0"
						  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_self">
				  <div class="form-row align-items-center">
					<div class="col-auto">
					  <label class="sr-only" for="mce-EMAIL">Email</label>
					  <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" required placeholder="exemplo@email.com">
					</div>
					<div class="col-auto">
					  <label class="sr-only" for="mce-FNAME">Email</label>
					  <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" required placeholder="Seu Nome">
					</div>

					 &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
						name="b_d2361c4177318b91ad1ccf3dc_46d46088b6" tabindex="-1" value=""></div>


					<div class="col-auto">
					  <input type="submit" value="Enviar" name="Enviar" id="mc-embedded-subscribe" class="btn btn-primary mb-2">
					</div>
				  </div>
				</form>-->


			</div>
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src=" {% static 'img/lucianoramalhofoto.png' %}" alt="Foto de Luciano Ramalho"
							 class="img-thumbnail float-left mr-3 "/>
						Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e autor do Livro
						<a href="https://www.amazon.com/_/dp/1491946008?tag=oreilly20-20" target="_blank" >Python Fluente</a>. Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
						Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
						Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República, Globo.com e Itaú.
						Palestrante em eventos internacionais como FISL, PyCon US e OSCON.
						Ajudou a criar a Associação Python Brasil e foi seu presidente.
						É membro da Python Software Foundation e fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
					</p>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}